# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

REACT_APP_TMDB_TOKEN = "eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYjk5NDkwNTdmM2U3OGE0MDc2OGNkODA0MTU2OWFiNSIsIm5iZiI6MTc2ODMzMTg0My45MzIsInN1YiI6IjY5NjY5YTQzZTQ5MjkwOGI0NDViZjhkMSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.eMuKCdbYK0bSZn8zzk27XLws5DkdtDtchqc-GXFhy0U"
